.configurator .hull {
  position: relative;
}
.configurator .hull .slot {
  width: 120px;
  height: 120px;
  border: solid 1px #eee;
}
.configurator .hull .slot:nth-child(odd) {
  float: left;
  clear: both;
}
.configurator .hull .slot:nth-child(even) {
  float: right;
}
.configurator .hull .slot.power {
  background: url('/img/slot/default/power.gif') no-repeat center;
}
.configurator .hull .slot.gun {
  background: url('/img/slot/default/gun.jpg') no-repeat center;
}
.configurator .hull .slot.processor {
  background: url('/img/slot/default/processor.jpg') no-repeat center;
}
.configurator .hull .slot.logic {
  background: url('/img/slot/default/logic.jpg') no-repeat center;
}
.configurator .hull .slot.sensor {
  background: url('/img/slot/default/sensor.jpg') no-repeat center;
}
.configurator .hull .slot.motion {
  background: url('/img/slot/default/motion.jpg') no-repeat center;
}
.configurator .hull .photo {
  position: absolute;
  left: 120px;
  top: 0px;
  width: 200px;
  height: 480px;
  float: left;
}
.configurator .hull.monster {
  width: 450px;
}
