.slot {
  width: 120px;
  height: 120px;
  border: solid 1px #eee;
}
.slot:nth-child(odd) {
  float: left;
  clear: both;
}
.slot:nth-child(even) {
  float: right;
}
.slot.power {
  background: url('/img/slot/default/power.gif') no-repeat center;
}
.slot.gun {
  background: url('/img/slot/default/gun.jpg') no-repeat center;
}
.slot.processor {
  background: url('/img/slot/default/processor.jpg') no-repeat center;
}
.slot.logic {
  background: url('/img/slot/default/logic.jpg') no-repeat center;
}
.slot.sensor {
  background: url('/img/slot/default/sensor.jpg') no-repeat center;
}
.slot.motion {
  background: url('/img/slot/default/motion.jpg') no-repeat center;
}
.hull {
  position: relative;
}
.hull .photo {
  position: absolute;
  left: 120px;
  top: 0px;
  width: 200px;
  height: 480px;
  float: left;
}
.hull.start {
  width: 450px;
}
.arena {
  border: solid 1px grey;
  background: url('/img/arena/cell.png') 60px;
  position: relative;
}
.arena .arena-object {
  width: 20px;
  height: 20px;
  position: absolute;
  border: solid 1px red;
}
.arena .arena-object .health {
  background: red;
}
.arena .arena-object .health div {
  height: 5px;
  background: green;
}
.coords {
  position: absolute;
  color: #ccc;
  font-size: 16px;
}
